.invoice-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.company-address {
  max-width: 500px;
  margin-left: 24px;
}

.company-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.company-address p,
.payment-info p {
  margin: 8px 0;
}

.invoice-info {
  margin-bottom: 20px;
}

.details-table,
.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.details-table th,
.details-table td {
  padding: 8px;
  border: 1px solid #ddd;
  width: 50%;
}

.details-table th {
  background-color: #eee;
  text-align: left;
  font-weight: 400;
}

.details-table .address-line {
  margin: 4px 0;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: right;
  width: 25%;
}

.invoice-table th {
  background-color: #333;
  color: white;
  font-weight: 400;
}

.invoice-table th:first-child,
.invoice-table td:first-child {
  text-align: left;
}

.invoice-total {
  font-weight: bold;
}

.payment-details {
  margin-top: 20px;
}

.payment-title {
  margin: 36px 0 8px;
  font-weight: 700;
}

.payment-info {
  margin-bottom: 10px;
}

.side-note {
  color: #444;
  font-size: 0.9rem;
  margin: 16px 0;
}

.payment-info--title,
.payment-info--value {
  width: 25%;
  display: inline-block;
}

.payment-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
}

.payment-table th,
.payment-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.payment-table th {
  background-color: #f2f2f2;
}

.payment-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
